
.button{
    box-shadow: 0.1rem 0.2rem 0.3rem #c8c7c7;
    background: #eeeeee;
    border-radius: 0.5rem;
    border-color: #c8c7c7;  
}
.show {
    display:block;
}
.close{
    display: none;
}

.zodiacModal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант */
    background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
  }
  
  /* Модальное содержание/коробка */
  .zodiacContent {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    border-radius: 1rem;
    border: 0.7rem solid rgba(254, 230, 108, 0.97);
    box-shadow: 0.1rem 0.2rem 0.3rem #c8c7c7;
    margin: 5% auto; /* 5% сверху и по центру */
    width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
  }
  .modalTitle{
    background-color:rgba(254, 230, 108, 0.97) ;
    height: 5rem;
  }
  #modalH{
    width: 90%;
    text-align: center;
    font-size: 1.6rem;
    padding: 1.8rem;
  }
  .modalInfo{
    /* display: flex;
    gap: 1rem; */
    margin: 1.5%;
  }

 